@media (min-width: 768px) {
    .fil-mob-view {
      display: block;
    }
    .container .row {
      display: flex;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-9 {
      width: 75%;
    }
    .filt-com {
        padding-top: 40px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .short-all {
      margin-bottom: 20px;
    }
  }
  